
.booking{
    background: #264257;
    padding: 100px 0;
    position: relative;
}
.booking h2{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 112%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
}
.booking p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 15px 0 43px 0;
}
.booking_cards{
    display: flex;
    justify-content: space-between;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
}
.booking_card:nth-child(2){
    margin-top: 326px;
}
.booking_card img:last-child{
    position: absolute;
    bottom: 33rem;
    left: 47rem;
}
.booking_card2 img:last-child{
    position: absolute;
    top: 27rem;
    left: 90rem;
}
.booking_card3 img:last-child{
    position: absolute;
    bottom: 25rem;
    left: 150rem;
}

