.holidays{
    padding: 230px 0 130px 0;
}
.holidays .container{
    display: flex;
    gap: 100px;
}
.holidays_img{
    width: 50%;
}
.holidays_text{
    width: 50%;
}
.holidays_text h4{
    font-family: 'Denk One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
}
.holidays_text h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 112%;
    color: #FFFFFF;
    text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
}
.holidays_text p{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 15px 0 50px 0;

}
.holidays_text button{
    background: #00E0C7;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    color: #2A3950;
    padding: 20px 48px;
    cursor: pointer;

}